# IDE
.idea

# Git
.git
.gitignore

# Config files
.commitlintrc.json
.eslintrc.json
.huskyrc.json
.lintstagedrc.json
.prettierrc.js
.syncpackrc.json

# Miscellaneous
dev.Dockerfile
docker-compose.yaml
